body {
	margin-top: 30px;
}

.nav-link {
	padding: 5px 15px;
}

a:hover {
	background-color: #007BFC;
	color: white;
}

input[type=text] {
	width: 100%;
	margin: 5px 0px;
	border: 1px solid #ECEEEF;
	border-radius: 4px;
}

.content {
	padding-left: 12px;
	border-left: 4px solid #ECEEEF;
}

.table {
	font-size: 15px;
}

.album {
	padding: 0;
	font-size: 15px;
}

.imageSizeOne {
  width: 100%;
  height: auto;
}

.imageSizeTwo {
	width: 50%;
  height: auto;

}